#contact-us-wrapper {
	position: relative;
	background: url('../images/header-pic-small.jpg') center;
	background-size: cover;
	height: 400px;
	img {
		width: 70%;
		position: absolute;

		bottom: 0;
		right: 0;
	}

	// Clear fix hack
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	.social-buttons-wrapper {
		margin-top: 40px;
		.social {
			color: black;
			margin-bottom: 10px;
		}
	}
}

@media screen and (min-width: 373px) {
	#contact-us-wrapper {
		height: 500px;
	}
}

@media screen and (min-width: 600px) {
	.social {
		vertical-align: center;
		font-size: 2.6em;
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
	#contact-us-wrapper {
		img {
			width: 375px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.social {
		vertical-align: center;
		font-size: 3em;
		width: 80px;
		height: 80px;
		line-height: 80px;
	}
	#contact-us-wrapper {
		img {
			width: 450px;
		}
	}
}