$default-font: 'Josefin Sans', serif !important;

.jvectormap-tip {
	height: auto !important;
	// width: 100% !important;
	// left: 0 !important;
	border: 0 !important;
	font-family: $default-font;

	.exhibit-data-wrapper {
		padding: 5px;
		text-align: center;
		.exhibit__title {
			text-align: center;
			margin-top: 0;
		}

		.exhibit__artist {
			text-align: center;
		}

		h4 {
			font-size: 1.1em;
			margin: 2px;
		}
	}
}

@media screen and (max-width: 624px) {
	.jvectormap-tip {
		height: auto !important;
		width: 100% !important;
		left: 0 !important;
	}
}
