h2 {
	margin-bottom: 3px;
}
.audio-wrapper {
	position: relative;
	top: 25vh;
}

#random-blends-of-sound-wrapper {
	background: url('../images/header-pic-small.jpg') center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
}
#random-blends-of-sound-wrapper {
	background: url('../images/header-pic-small.jpg') center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
}

body {
	background-color: white;
}