/* line 1, ../sass/coming-soon.scss */
#coming-soon-header {
  position: relative;
  font-size: 2em;
  top: 50%;
  transform: translateY(-70%);
}

/* line 8, ../sass/coming-soon.scss */
#coming-soon-wrapper {
  background: url("../images/header-pic.jpg") center;
  background-size: cover;
  height: 500px;
}
