/* line 17, ../sass/featured-artworks.scss */
#featured-artworks {
  height: auto;
}

/* line 22, ../sass/featured-artworks.scss */
.featured-artwork-block {
  display: inline-block;
  width: auto;
  padding: 3px;
  margin-bottom: 3px;
  background-color: black;
}
/* line 28, ../sass/featured-artworks.scss */
.featured-artwork-block .featured-artwork__square {
  display: block;
  height: 280px;
  width: 280px;
  margin: 0 auto 0 auto;
  background-color: white;
  padding: 3px;
  overflow: hidden;
}
/* line 36, ../sass/featured-artworks.scss */
.featured-artwork-block .featured-artwork__square .featured-artwork__content-wrapper {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 42, ../sass/featured-artworks.scss */
.featured-artwork-block .featured-artwork__square .featured-artwork__content-wrapper .featured-artwork__title {
  margin: 0;
}
/* line 49, ../sass/featured-artworks.scss */
.featured-artwork-block:after {
  content: "";
  display: table;
  clear: both;
}
/* line 55, ../sass/featured-artworks.scss */
.featured-artwork-block .featured-artwork__image {
  background-image: url(../images/featured-artworks/hafizz.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 440px) {
  /* line 63, ../sass/featured-artworks.scss */
  .featured-artwork-block .featured-artwork__square {
    height: 320px;
    width: 320px;
  }
}
@media screen and (min-width: 650px) {
  /* line 72, ../sass/featured-artworks.scss */
  .featured-artwork-block .featured-artwork__square {
    float: left;
    height: 300px;
    width: 300px;
  }
}
@media screen and (min-width: 750px) {
  /* line 82, ../sass/featured-artworks.scss */
  .featured-artwork-block .featured-artwork__square {
    height: 350px;
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 92, ../sass/featured-artworks.scss */
  .featured-artwork-block .featured-artwork__square {
    height: 280px;
    width: 280px;
  }
}
