/* line 17, ../sass/main.scss */
body {
  font-family: "Josefin Sans", serif;
}

/* line 21, ../sass/main.scss */
a {
  text-decoration: none !important;
}

/* line 25, ../sass/main.scss */
.header-font {
  font-family: "Josefin Sans", sans-serif;
}

/* line 29, ../sass/main.scss */
.site-menu-button {
  transition: all 1s ease;
  display: inline-block;
  text-align: center;
  background-color: #a8c4c7;
}
/* line 35, ../sass/main.scss */
.site-menu-button:before {
  content: "";
  display: block;
  margin-top: 100%;
}
/* line 40, ../sass/main.scss */
.site-menu-button .empty-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 48, ../sass/main.scss */
.site-menu-button .glyphicon {
  margin: auto;
  font-size: 3em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 57, ../sass/main.scss */
.site-menu-button:hover {
  background-color: #6f8486;
}

/* line 63, ../sass/main.scss */
.site-menu-expand-button {
  display: none;
  width: 42px;
  color: white;
  padding: 10px;
  position: fixed;
  border: none;
  outline: 0;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 78, ../sass/main.scss */
.site-menu-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  text-align: center;
}
/* line 84, ../sass/main.scss */
.site-menu-wrapper .site-menu {
  padding: 3%;
  width: 100%;
  height: 100vh;
  background-color: #768486;
}
/* line 93, ../sass/main.scss */
.site-menu-wrapper .site-menu .site-menu-collapse-button {
  width: 42px;
  margin: 10px;
  color: white;
  border: none;
  outline: 0;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 104, ../sass/main.scss */
.site-menu-wrapper .site-menu .site-menu-list {
  list-style-type: none;
  padding: 0;
  height: 30vh;
}
/* line 108, ../sass/main.scss */
.site-menu-wrapper .site-menu .site-menu-list .site-menu-item {
  color: black;
  transition: all 1s ease;
  width: 70%;
  padding: 0.5%;
  margin: 1% auto 1% auto;
}
/* line 116, ../sass/main.scss */
.site-menu-wrapper .site-menu .site-menu-list .site-menu-item.hover {
  color: white;
}

/* line 129, ../sass/main.scss */
.full-navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #768486;
  display: none;
  height: 43px;
  width: 100%;
  text-align: center;
}
/* line 140, ../sass/main.scss */
.full-navbar .site-menu-list {
  position: relative;
  width: 100%;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
}
/* line 148, ../sass/main.scss */
.full-navbar .site-menu-list a {
  display: inline-block;
  color: black;
  transition: all 1s ease;
  padding: 0.5%;
  margin: 15px auto 15px auto;
  border-left: 1px solid #92a9ac;
}
/* line 156, ../sass/main.scss */
.full-navbar .site-menu-list a:hover {
  background-color: #f7f1e6;
  color: black;
}
/* line 161, ../sass/main.scss */
.full-navbar .site-menu-list a.selected {
  color: white;
  background-color: #626e70;
}
/* line 166, ../sass/main.scss */
.full-navbar .site-menu-list a h4 {
  margin: 0;
}
/* line 170, ../sass/main.scss */
.full-navbar .site-menu-list a:last-child {
  border-right: 1px solid #92a9ac;
}

/* line 180, ../sass/main.scss */
.site-default-button {
  color: white;
  width: 70%;
  font-size: 1.5em;
  background-color: #a8c4c7;
  border: none;
  outline: 0;
  padding: 10px;
  transition: all 1s ease;
  font-family: "Josefin Sans", sans-serif;
}
/* line 192, ../sass/main.scss */
.site-default-button:hover {
  background-color: #6f8486;
}

/* line 198, ../sass/main.scss */
.underline:after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: black;
  display: block;
  margin: 1% auto 1% auto;
}

/* line 207, ../sass/main.scss */
.white-underline:after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: white;
  display: block;
  margin: 1% auto 1% auto;
}

/* line 218, ../sass/main.scss */
.site-content-block {
  color: black;
  position: relative;
  width: 100%;
  background-color: white;
  overflow: hidden;
  text-align: center;
  padding: 15px 10px 20px 10px;
}

/* line 229, ../sass/main.scss */
#site-logo-wrapper {
  background: url("../images/header-pic-small.jpg") center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  color: black;
}
/* line 239, ../sass/main.scss */
#site-logo-wrapper #site-logo-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 244, ../sass/main.scss */
#site-logo-wrapper #site-logo-content #site-logo {
  width: 100%;
}

/* line 252, ../sass/main.scss */
.site-mosaic-wrapper {
  color: black;
  position: relative;
  width: 280px;
  display: block;
  margin: 3% auto 3% auto;
  text-align: center;
}
/* line 262, ../sass/main.scss */
.site-mosaic-wrapper .site-mosaic-item {
  width: 140px;
  height: 140px;
}
/* line 267, ../sass/main.scss */
.site-mosaic-wrapper .site-mosaic-text {
  padding: 1%;
  background-color: white;
}
/* line 273, ../sass/main.scss */
.site-mosaic-wrapper .site-mosaic-image {
  background-color: yellow;
}
/* line 278, ../sass/main.scss */
.site-mosaic-wrapper:nth-child(odd) .site-mosaic-text {
  float: left;
}
/* line 281, ../sass/main.scss */
.site-mosaic-wrapper:nth-child(odd) .site-mosaic-image {
  float: right;
}
/* line 287, ../sass/main.scss */
.site-mosaic-wrapper:nth-child(even) .site-mosaic-text {
  float: right;
}
/* line 290, ../sass/main.scss */
.site-mosaic-wrapper:nth-child(even) .site-mosaic-image {
  float: left;
}
/* line 296, ../sass/main.scss */
.site-mosaic-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 305, ../sass/main.scss */
.site-large-wrapper {
  position: relative;
  width: 300px;
  margin: 0 auto 20px auto;
  background-color: #e6e5e0;
  color: black;
  height: 400px;
  display: inline-block;
}
/* line 313, ../sass/main.scss */
.site-large-wrapper .site-large-image-wrapper {
  overflow: hidden;
  width: 98%;
  width: auto;
  height: 160px;
}
/* line 318, ../sass/main.scss */
.site-large-wrapper .site-large-image-wrapper img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
/* line 331, ../sass/main.scss */
.site-large-wrapper h3 {
  margin-top: 10%;
  font-size: 1.8em;
}
/* line 336, ../sass/main.scss */
.site-large-wrapper p {
  font-size: 1.2em;
}

/* line 343, ../sass/main.scss */
#map {
  width: 100%;
  height: 400px;
}

/* line 350, ../sass/main.scss */
#random-blend-of-sounds-wrapper {
  padding: 0 0 20px 0;
  background: url("../images/header-pic.jpg") center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 358, ../sass/main.scss */
#random-blend-of-sounds-wrapper #random-blend-of-sounds-content {
  overflow: hidden;
}
/* line 360, ../sass/main.scss */
#random-blend-of-sounds-wrapper #random-blend-of-sounds-content #random-blend-of-sounds-splash {
  display: block;
  width: 120%;
  transform: translateX(-10%);
}
/* line 365, ../sass/main.scss */
#random-blend-of-sounds-wrapper #random-blend-of-sounds-content h5 {
  font-size: 1.2em;
}

/* line 372, ../sass/main.scss */
footer {
  position: relative;
  background-color: white;
  height: 200px;
  width: 100%;
}
/* line 381, ../sass/main.scss */
footer .sponsors-wrapper {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1%;
}
/* line 389, ../sass/main.scss */
footer .sponsors-wrapper h2 {
  margin-top: 20px;
  font-size: 1.5em;
}
/* line 394, ../sass/main.scss */
footer .sponsors-wrapper .cnm-image-wrapper {
  width: 270px;
  position: relative;
  margin: auto;
  height: 15vh;
}
/* line 400, ../sass/main.scss */
footer .sponsors-wrapper .cnm-image-wrapper .cnm-logo {
  width: 240px;
  margin: 0 15px 0 15px;
}
/* line 406, ../sass/main.scss */
footer .sponsors-wrapper .sponsors-image-wrapper {
  position: relative;
  width: 270px;
  margin: auto;
  height: 25vh;
}
/* line 412, ../sass/main.scss */
footer .sponsors-wrapper .sponsors-image-wrapper .asm-logo {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  width: 240px;
  margin: 0 5px 0 5px;
}
/* line 419, ../sass/main.scss */
footer .sponsors-wrapper .sponsors-image-wrapper .epson-logo {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  width: 160px;
  margin: 0 5px 0 5px;
}

@media screen and (min-width: 490px) {
  /* line 433, ../sass/main.scss */
  .site-content-block-title {
    font-size: 2.5em;
  }

  /* line 437, ../sass/main.scss */
  footer {
    height: 250px;
  }
  /* line 443, ../sass/main.scss */
  footer .sponsors-wrapper h2 {
    font-size: 1.7em;
  }
  /* line 447, ../sass/main.scss */
  footer .sponsors-wrapper .sponsors-image-wrapper {
    width: 260px;
  }
  /* line 450, ../sass/main.scss */
  footer .sponsors-wrapper .sponsors-image-wrapper .site-sponsor-logo {
    width: 110px;
    margin: 0 10px 0 10px;
  }
}
@media screen and (min-width: 624px) {
  /* line 461, ../sass/main.scss */
  .site-content-block-title {
    font-size: 2.7em;
  }

  /* line 465, ../sass/main.scss */
  #site-logo-wrapper {
    height: 600px;
  }
  /* line 468, ../sass/main.scss */
  #site-logo-wrapper #site-logo-content #site-logo {
    width: 624px;
  }
  /* line 472, ../sass/main.scss */
  #site-logo-wrapper #site-logo-content h4 {
    font-size: 1.7em;
  }
  /* line 475, ../sass/main.scss */
  #site-logo-wrapper #site-logo-content h5 {
    font-size: 1.3em;
  }
  /* line 480, ../sass/main.scss */
  #site-logo-wrapper .site-default-button {
    width: 410px;
  }

  /* line 486, ../sass/main.scss */
  .site-large-wrapper {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* line 500, ../sass/main.scss */
  .site-large-wrapper h3 {
    margin-top: 10%;
    font-size: 1.8em;
  }
  /* line 505, ../sass/main.scss */
  .site-large-wrapper h4 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 800px) {
  /* line 513, ../sass/main.scss */
  body {
    padding-top: 43px;
  }

  /* line 516, ../sass/main.scss */
  .site-content-block-title {
    font-size: 2.8em;
  }

  /* line 520, ../sass/main.scss */
  #site-logo-wrapper {
    background: url("../images/header-pic.jpg") center;
  }

  /* line 528, ../sass/main.scss */
  footer .sponsors-wrapper h2 {
    font-size: 1.7em;
  }
  /* line 532, ../sass/main.scss */
  footer .sponsors-wrapper .cnm-image-wrapper {
    width: 840px;
    position: relative;
    margin: auto;
    height: 20vh;
  }
  /* line 538, ../sass/main.scss */
  footer .sponsors-wrapper .cnm-image-wrapper .cnm-logo {
    width: 780px;
    margin: 0 15px 0 15px;
  }
  /* line 544, ../sass/main.scss */
  footer .sponsors-wrapper .sponsors-image-wrapper {
    width: 420px;
  }
  /* line 548, ../sass/main.scss */
  footer .sponsors-wrapper .sponsors-image-wrapper .asm-logo {
    width: 390px;
    margin: 0 15px 0 15px;
  }
  /* line 552, ../sass/main.scss */
  footer .sponsors-wrapper .sponsors-image-wrapper .epson-logo {
    width: 195px;
    margin: 0 15px 0 15px;
  }

  /* line 560, ../sass/main.scss */
  .site-menu-button {
    display: none !important;
  }

  /* line 564, ../sass/main.scss */
  .full-navbar {
    display: block;
  }

  /* line 568, ../sass/main.scss */
  .site-large-wrapper {
    position: relative;
    width: 350px;
    margin: 0 20px 20px 20px;
    background-color: #e6e5e0;
    color: black;
    height: 430px;
    display: inline-block;
  }
  /* line 576, ../sass/main.scss */
  .site-large-wrapper .site-large-image-wrapper {
    overflow: hidden;
    width: 98%;
    width: auto;
    height: 180px;
  }
  /* line 581, ../sass/main.scss */
  .site-large-wrapper .site-large-image-wrapper img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }
  /* line 594, ../sass/main.scss */
  .site-large-wrapper h3 {
    margin-top: 10%;
    font-size: 1.8em;
  }
  /* line 599, ../sass/main.scss */
  .site-large-wrapper p {
    font-size: 1.2em;
  }

  /* line 606, ../sass/main.scss */
  #random-blend-of-sounds-wrapper {
    padding: 0;
    padding: 0;
  }
  /* line 608, ../sass/main.scss */
  #random-blend-of-sounds-wrapper #random-blend-of-sounds-content {
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  /* line 613, ../sass/main.scss */
  #random-blend-of-sounds-wrapper #random-blend-of-sounds-content #random-blend-of-sounds-splash {
    position: relative;
  }
  /* line 616, ../sass/main.scss */
  #random-blend-of-sounds-wrapper #random-blend-of-sounds-content h5 {
    position: absolute;
    font-size: 1.8em;
    width: 100%;
    margin: 0;
    bottom: 120px;
  }
  /* line 624, ../sass/main.scss */
  #random-blend-of-sounds-wrapper #random-blend-of-sounds-content .site-default-button {
    position: absolute;
    width: 400px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
