/* line 1, ../sass/visit.scss */
#map-asm {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

/* line 8, ../sass/visit.scss */
.asm-info {
  text-align: left;
  padding: 10px;
}
